.background {
    width: 100%;
    height: 35vh;
    object-fit: cover;
  }

.detail {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
}

.container {
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    background-color: #FFFFFF;

    height: 90vh;
    transform: translateY(-32vh);
    box-shadow: 0px -2px 6px #0000001A;

    &--inputs{
        display: flex;
        flex-direction: column;
        width: 87%;
        margin-top: 2%;

        .input{
            height: 2.5em;
        }

        .field {
            margin-top:1.5em;
            margin-bottom: 1.5em;
            color: #707070;
            font-weight: bold;
            margin-bottom: 0.5rem;
            font-style: italic;
            font-size: 0.95rem;
            padding-left: 1rem;
          }

        .warning{
            color: red;
            font-size: small;
            margin-left: 1em;
        }
          
    }

    &--images{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        height: 5%;
        width: 100%;
        margin-top: 2em;
        margin-left: 4em;

        .return {
            width: 3.5%;
        }
    }

    app-logo {
        height: fit-content;
        width: 9%;
        margin-left: 0.7em;
        
    }

    &--p{

        margin-top: 2em;

        p {
            color: #707070;
            font-weight: bold;
            font-family: 'OpenSans';
            margin-left: 4.5em;
            font-size: 0.7rem;
            width: 80%;
            
          }

    }

   

      app-self-building-square-spinner {
        margin-left: 2rem;
      }

      ion-button {
        width: 87%;
        height:7%;
      }

      .hidden{
        display: none;
        pointer-events: none;
      }

      .disabled{
        opacity: 0.5;
        pointer-events: none;
      }
}