<div class="signup">
  <img class="background" src="assets\imgs\quadrados.png">

  <img class="detail" src="assets\background.svg">

  <div class="container" @goUp>
    <div class="container--images">
    <img routerLink="/login" class="return" src="assets\imgs\icon_return.svg" alt="">

    <app-logo src="assets\imgs\LOGO.svg" (onClick)="logoClick($event)"></app-logo>
    </div>
    

    <div class="container--inputs">
      <span class="field">Nome Completo*</span>
      <input (keydown.enter)="email.focus()" 
      class="input"
      type="text"
      [(ngModel)]="registerPayload.name"
      (ngModelChange)="setNameWarning()"
      >
      <span class="warning" [class.hidden]="isNameNotEmpty"> Este campo é obrigatório! </span>

      <span class="field">E-mail*</span>
      <input #email (keydown.enter)="emailAgain.focus()" 
      class="input" 
      type="text" 
      [(ngModel)]="registerPayload.email"
      (ngModelChange)="setEmailWarning()">
      <span class="warning" [class.hidden]="isEmailValid"> Digite um email válido! </span>

      <span class="field">Confirme o E-mail*</span>
      <input #emailAgain 
      (keydown.enter)="password.focus()" 
      class="input" 
      type="text"
      [(ngModel)]="registerPayload.confirmEmail">
      <span class="warning" [class.hidden]="checkIsEmailEqual()"> E-mail deve ser idêntico ao digitado no campo anterior! </span>

      <span class="field">Senha*</span>
      <input #password 
      (keydown.enter)="passwordAgain.focus()" 
      class="input" 
      type="password" 
      [(ngModel)]="registerPayload.password"
      (ngModelChange)="setPasswordWarning()">
      <span class="warning" [class.hidden]="isPasswordMinLen"> Senha necessita ao menos 7 dígitos! </span>

      <span class="field">Confirme a senha*</span>
      <input #passwordAgain 
      class="input" 
      type="password" 
      [(ngModel)]="registerPayload.confirmPassword"
      (ngModelChange)="checkIsPasswordEqual()">
      <span class="warning" [class.hidden]="checkIsPasswordEqual()"> Senha deve ser idêntica à digitada no campo anterior! </span>
    </div>

    <div class="container--p">
      <p>*Campos obrigatórios
      </p>
      <p>Ao registrar-me, concordo com os termos de uso e a Política de Privacidade do Aplicativo</p>
    </div>
    
    <ion-button class="button" [class.disabled]="!canCreateAccount()" (click)="createAccount()" > 
      {{ isLoading ? 'carregando...' : 'Criar conta' }}
      <app-self-building-square-spinner
        *ngIf="isLoading" 
        [animationDuration]="6000"
        [size]="40"
        [color]="'#ffffff'"
     ></app-self-building-square-spinner>
    </ion-button>
  </div>
</div>
