<div class="login">
  <img class="background" src="assets\imgs\quadrados.png">

  <img class="detail" src="assets\background.svg">

  <div class="container">
    <img src="assets\imgs\LOGO.svg">

    <div class="container--inputs">
      <span>E-mail</span>
      <input type="text" [(ngModel)]="loginPayload.email">
      <span>Senha</span>
      <input type="password" [(ngModel)]="loginPayload.password">
    </div>

    <ion-button  [class.disabled]="!canLogin()" class="disabled" (click)="login()"> 
      {{ isLoading ? 'carregando...' : 'confirmar' }}
      <app-self-building-square-spinner 
        *ngIf="isLoading"
        [animationDuration]="6000"
        [size]="40"
        [color]="'#ffffff'"
     ></app-self-building-square-spinner>
    </ion-button>

    <p>Não possui conta? <a href="">Cadastre-se!</a></p>
  </div>
</div>
