.hello{
  margin: auto;
}

ion-datetime {
margin: auto;
}

#fruits {
  margin:auto;
}

.imagem{
  margin:auto;
  height: 40vh;
  width: 30vw;
}

ion-accordion-group{
  margin:auto
}

.second{
  color: red;
}